
/* Updated Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Increased padding */
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  max-width: 200px;
  max-height: 50px;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo-img {
  width: 120px; /* Adjust logo size */
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Allows wrapping */
  justify-content: flex-end; /* Align links to the right */
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #1e73be;
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navbar on small screens */
  }

  .search-bar {
    width: 80%;
  }

  .nav-links {
    flex-direction: column; /* Stack links vertically */
    align-items: flex-start;
  }
}
